*{
margin: 0;
padding: 0;
box-sizing: border-box ;
}

header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.imgLogo{
    display: flex;
    align-items: center;
}

.imgLogo h2{
    color: antiquewhite;
    
}

.imgLogo img{
    height: 80px;
}

nav ul{
    display: flex;
    padding: 10px;
}

nav a{
    list-style: none;
    color: antiquewhite;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 15px;

}


.sectionPrincipal{
width: 100%;
height: 670px;
background-image: url("../assets/img/casaInicio2.jpg");
background-size: cover;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

 }
.sectionPrincipal h1{
    padding: 20px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.sectionPrincipal form{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 80%;
    margin-bottom: 20px;
    gap: 20px;

    
}

.sectionPrincipal form input{
    padding: 10px;
    width: 100%;
    border: 3px solid black;
}

.sectionPrincipal form select{
    padding: 10px;
    width: 100%;
    border: 3px solid black;
}


.sectionSec {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.sectionSec h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: antiquewhite;
    padding: 50px;
    font-size: 32px;
    text-shadow: rgb(179, 116, 22) 1px 0 10px;
}

.sectionSec div{

    height: 350px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sectionSec div img{
    height: 270px;
    border-radius: 20px;
    
}

.sectionSec div article{
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin-left: 50px;
    width: 500px;
    border-top: 1px solid rgb(246, 166, 38);
    border-bottom: 1px solid rgb(246, 166, 38) ;
}

.sectionSec div article h2{
    margin-bottom: 30px;
    text-align: center;
}

.sectionSec div article h4{
padding: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.sectionSec button{
    color: antiquewhite  ;

    width: 100px;
}

.sectionSec button a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


footer{
    display: flex;
    height: 300px;
    background-color: black;
    justify-content: space-evenly;

}

footer section{
    padding: 50px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

footer section div{
    display: flex;
}

footer section div img{
    height: 50px;
    margin-right: 5px;

}

/* Pagina Inmuebles */

.grids {
    display: grid;
    width: 100%;
    height: 1500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 400px 400px 400px;
    row-gap: 30px;
    column-gap: 30px;
    background-color: black;
}

.grids section div img{
    width: 100%;
    height: 300px;
}

.grids h3{
    color: rgb(246, 166, 38);
}

.section1{
    background-color: rgb(246, 166, 38);
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    grid-row: 1/2;
    grid-column: 1/4;
}

.section1 h2{

    color: antiquewhite;
    margin-left: 50px;
}

.section1 div form{
    display: flex;
    margin-left: 30px; 
    justify-content: space-evenly;
    
}

.section1 div form input{
    padding: 10px;
    margin: 50px;
    border: 3px solid antiquewhite;
    width: 250px;
    background-color: transparent;
    color: rgb(97, 95, 93);
}

.section1 div form button{
    padding: 10px;
    margin: 50px;
    border: 3px solid rgb(0, 0, 0);
    width: 150px;
    border-radius: 50px;
    background-color: transparent;
    
}


.section1 div form select{
    padding: 10px;
    margin: 50px;
    border: 3px solid antiquewhite;
    width: 250px;
    background-color: transparent;
    color: rgb(97, 95, 93);
}

.section2{
    text-align: center;
    color: antiquewhite;
}

.section3{
    text-align: center;
    color: antiquewhite;
}

.section4{
    text-align: center;
    color: antiquewhite;
}

.section5{
    text-align: center;
    color: antiquewhite;
}

.section6{
    text-align: center;
    color: antiquewhite;
}

.section7{
    text-align: center;
    color: antiquewhite;
}

.section8{
    text-align: center;
    color: antiquewhite;
}

.section9{
    text-align: center;
    color: antiquewhite;
}

.section10{
    text-align: center;
    color: antiquewhite;
}

.empHeader{
    background-image: url(../assets/img/emp-header.jpg);
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: large; 
}

.empConteiner{
    background-color: black;

}
.emp{
    height: 600px;
    color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.emp div img{
    width: 80%;
    height: 400px;
    border-radius: 40px;
}

.emp div{
    width: 500px;
}

.emp div h2{
    color: rgb(179, 116, 22);
    margin-bottom: 30px;
}

.invertir{
    height: 500px;
    background-image: url(../assets/img/investment.jpg);
    background-size: cover;
    font-size: x-large;

}


.lista{
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerNos{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    height: 800px;
    background-color: black;
    align-items: center;
}

.nos{
    width: 50%;
    height: 800px;
    color: antiquewhite;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.nos1 div{
    border-top: 1px solid rgb(246, 166, 38);
    border-bottom: 1px solid rgb(246, 166, 38) ;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.nos1 div h2{
    color: rgb(246, 166, 38);
    text-align: center;
    padding: 20px;
}


.nos2 img{
    height: 300px;
    width: 60%;
    padding: 50px;
}

.mision{
    height: 200px;
    background-color: rgb(246, 166, 38);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.mision div{
    width: 80%;
}

.contactosContainer{
    background-color: rgb(246, 166, 38);
    height: 800px;
    display: flex;
    justify-content: center;
}

.contactos{
    width: 80%;
    height: 800px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-evenly;
}

.contactos form fieldset{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    justify-content: space-evenly;
}

.contactos form{
    width: 100%;
}

.contactos input{
    height: 50px;
}

.contactos h1{
    padding: 20px;
    font-size: x-large;
}