* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0rem 1.5rem;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
header nav ul li:hover {
  transform: scale(1.1);
}
header nav ul li a {
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 15px;
  transition: color 1s;
}
header nav ul li a:hover {
  color: rgb(246, 166, 38);
}
header nav #toggle, header nav label {
  display: none;
}
header .imgLogo {
  display: flex;
  align-items: center;
}
header .imgLogo h2 {
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}
header .imgLogo img {
  height: 5rem;
}

.sectionPrincipal {
  width: 100%;
  height: 41.875rem;
  background-image: url("../assets/img/casaInicio2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: none;
}
.sectionPrincipal h1 {
  padding: 20px;
  font-family: "Lora", serif;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
.sectionPrincipal form {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 80%;
  margin-bottom: 20px;
  gap: 20px;
}
.sectionPrincipal form input {
  padding: 10px;
  width: 100%;
  border: 3px solid black;
}
.sectionPrincipal form select {
  padding: 10px;
  width: 100%;
  border: 3px solid black;
}

.sectionSec {
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.1875rem;
}
.sectionSec h1 {
  text-align: center;
  color: rgb(246, 166, 38);
  padding: 50px;
  font-size: 32px;
  text-shadow: rgb(179, 116, 22) 1px 0 10px;
}
.sectionSec div {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  width: 90%;
  justify-content: center;
}
.sectionSec div img {
  height: 270px;
  border-radius: 20px;
}
.sectionSec div img:hover {
  transform: scale(1.05);
}
.sectionSec div article {
  color: antiquewhite;
  padding: 30px;
  width: 500px;
  border-top: 1px solid rgb(246, 166, 38);
  border-bottom: 1px solid rgb(246, 166, 38);
}
.sectionSec div article h2 {
  margin-bottom: 30px;
  text-align: center;
  color: rgb(246, 166, 38);
}
.sectionSec div article h2:hover {
  text-decoration: underline;
}
.sectionSec div article h4 {
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sectionSec button, .sectionSec .section1 form select, .section1 form .sectionSec select {
  background-color: black;
  height: 2.1875rem;
  width: 100px;
  margin: 50px;
  box-shadow: 0 0 5px rgb(246, 166, 38), 0 0 25px rgb(246, 166, 38);
}
.sectionSec button:hover, .sectionSec .section1 form select:hover, .section1 form .sectionSec select:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgb(246, 166, 38), 0 0 1.5625rem rgb(246, 166, 38), 0 0 3.125rem rgb(246, 166, 38), 0 0 6.25rem rgb(246, 166, 38);
}
.sectionSec button a, .sectionSec .section1 form select a, .section1 form .sectionSec select a {
  color: rgb(246, 166, 38);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.sectionSec button a:hover, .sectionSec .section1 form select a:hover, .section1 form .sectionSec select a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer section {
  padding: 50px;
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}
footer section div {
  display: flex;
}
footer section div img {
  height: 3.125rem;
  margin-right: 5px;
}

.grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 11.875rem 400px 400px 400px;
  row-gap: 1.875rem;
  column-gap: 1.875rem;
  width: 100%;
  height: 1500px;
  background-color: black;
}
.grids img {
  width: 100%;
  height: 18.75rem;
}
.grids img:hover {
  transform: scale(1.04);
}
.grids h3 {
  color: rgb(246, 166, 38);
  transition: text-decoration 3s;
}
.grids h3:hover {
  text-decoration: underline;
}

.section1 {
  background-color: rgb(246, 166, 38);
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
  grid-row: 1/2;
  grid-column: 1/4;
}
.section1 h2 {
  color: antiquewhite;
  margin-left: 50px;
  margin-top: 10px;
  height: 1.875rem;
}
.section1 form {
  display: flex;
  justify-content: space-evenly;
  height: 9.375rem;
  width: 100%;
}
.section1 form input {
  padding: 10px;
  margin: 50px;
  border: 3px solid antiquewhite;
  width: 28%;
  background-color: transparent;
  color: rgb(97, 95, 93);
}
.section1 form button, .section1 form select {
  padding: 10px;
  margin: 50px;
  border: 3px solid rgb(0, 0, 0);
  width: 16%;
  border-radius: 50px;
  background-color: transparent;
}
.section1 form button:hover, .section1 form select:hover {
  background-color: black;
  color: rgb(246, 166, 38);
}
.section1 form select {
  border: 3px solid antiquewhite;
  width: 28%;
  color: rgb(97, 95, 93);
  border-radius: 0px;
}

.section2, .section10, .section9, .section8, .section7, .section6, .section5, .section4, .section3 {
  text-align: center;
  color: antiquewhite;
}

.empHeader {
  background-image: url(../assets/img/emp-header.jpg);
  background-size: cover;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.empConteiner {
  background-color: black;
}

.emp {
  color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  padding: 3.125rem;
}
.emp div {
  width: 500px;
}
.emp div img {
  width: 80%;
  height: 25rem;
  border-radius: 2.5rem;
}
.emp div img:hover {
  transform: scale(1.05);
}
.emp div h2 {
  color: rgb(246, 166, 38);
  margin-bottom: 1.875rem;
}
.emp div h2:hover {
  text-decoration: underline;
}

.invertir {
  height: 500px;
  background-image: url(../assets/img/investment.jpg);
  background-size: cover;
  font-size: x-large;
}

.lista {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
}

.slide-top {
  -webkit-animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
  animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
.containerNos {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  background-color: black;
  align-items: center;
  padding: 6.25rem;
}

.nos {
  width: 50%;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
}

.nos1 div {
  border-top: 1px solid rgb(246, 166, 38);
  border-bottom: 1px solid rgb(246, 166, 38);
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.nos1 div h2 {
  color: rgb(246, 166, 38);
  text-align: center;
  padding: 20px;
}

.nos2 img {
  height: 300px;
  width: 60%;
  padding: 50px;
}

.mision {
  background-color: rgb(246, 166, 38);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
}
.mision div {
  width: 80%;
  padding: 3.125rem;
}

.contactosContainer {
  background-color: rgb(246, 166, 38);
  height: 800px;
  display: flex;
  justify-content: center;
  background-image: url("../assets/img/orange-abstract.jpg");
  color: antiquewhite;
  text-shadow: rgb(24, 23, 21) 1px 0 10px;
}

.contactos {
  width: 80%;
  height: 800px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: none;
  font-family: Arial, Helvetica, sans-serif;
}
.contactos form {
  width: 100%;
}
.contactos form fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  justify-content: space-evenly;
}
.contactos input {
  height: 50px;
}
.contactos h1 {
  padding: 20px;
  font-size: x-large;
}

@media (max-width: 1024px) {
  header nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0rem;
  }
  header nav label {
    display: flex;
    color: antiquewhite;
    cursor: pointer;
  }
  header nav #toggle:checked ~ .menu {
    height: 100%;
  }
  .sectionSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.6875rem;
  }
  .sectionSec div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
  }
  /* Nosotros */
  .containerNos {
    display: flex;
    flex-direction: column;
  }
  .nos {
    width: 80%;
  }
  .nos1 {
    width: 100%;
  }
  .nos2 {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  header nav {
    flex-direction: row;
    justify-content: space-between;
  }
  header nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0rem;
  }
  header nav label {
    display: flex;
    color: antiquewhite;
    cursor: pointer;
  }
  header nav #toggle:checked ~ .menu {
    height: 100%;
  }
  /* Index */
  .sectionPrincipal {
    justify-content: space-between;
  }
  .sectionPrincipal form {
    flex-direction: column;
    height: 50%;
  }
  .sectionSec div img {
    width: 80%;
  }
  .sectionSec div article {
    width: 80%;
  }
  /* Inmuebles */
  .grids {
    display: grid;
    width: 100%;
    height: 3000px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 25rem);
  }
  .section1 {
    background-color: rgb(246, 166, 38);
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .section1 h2 {
    margin-left: 0rem;
    text-align: center;
  }
  .section1 form {
    flex-direction: column;
    height: 50rem;
    justify-content: center;
    align-items: center;
  }
  .section1 form select {
    width: 70%;
  }
  .section1 form button, .section1 form select {
    width: 70%;
  }
  .section1 form input {
    width: 70%;
  }
  /* Emprendimientos */
  .emp {
    flex-direction: column;
    padding: 1.875rem;
    text-align: center;
    width: 100%;
  }
  .emp div {
    width: 100%;
  }
  .invertir {
    background-color: rgb(246, 166, 38);
    background-image: none;
  }
  .lista {
    text-align: center;
    width: 100%;
  }
  /* Nosotros */
  .nos2 {
    flex-direction: column;
    width: 100%;
  }
  .nos2 img {
    width: 100%;
    padding: 0;
    padding-top: 1.25rem;
  }
}
@media (max-width: 426px) {
  .imgLogo h2 {
    display: none;
  }
  .grids {
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 12.5rem);
  }
  .grids section div img {
    height: 9.375rem;
    width: 100%;
  }
  .section1 {
    grid-row: 1/5;
    grid-column: 1/2;
  }
  /* Emprendimientos */
  .empHeader h1 {
    font-size: x-large;
  }
  .emp div img {
    height: 15rem;
  }
  /* Nosotros */
  .nos2 img {
    height: 12.5rem;
  }
  /* Footer */
  footer section h1 {
    font-size: smaller;
  }
  footer section h3 {
    font-size: smaller;
  }
}

/*# sourceMappingURL=style.css.map */
