@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/maps";

@import "./base/reset";

@import "./layout/header";
@import "./layout/main-index";
@import "./layout/footer";
@import "./layout/main-inmuebles" ;
@import "./layout/main-emp";
@import "./layout/main-nos";
@import "./layout/main-contactos";


@import "./components/boostrap";
@import "./components/card";

@import "./layout/media/media1024";
@import "./layout/media/media768";
@import "./layout/media/media425";

