@media (max-width: 426px){
    .imgLogo h2{
        display: none;
    }
    .grids {
        grid-template-columns: 100% ;
        grid-template-rows: repeat(12, 12.5rem);

    }
    .grids section div img{
        height: 9.375rem;
        width: 100%;
    }
    .section1{
        grid-row: 1/5;
        grid-column: 1/2;
    }

    /* Emprendimientos */

    .empHeader h1{
        font-size:x-large;
    }
    .emp div img{
        height: 15rem;
    }

    /* Nosotros */
    .nos2 img{
        height: 12.5rem;
    }
    /* Footer */
    footer section{
        h1{font-size: smaller;}
        h3{font-size: smaller;}
    }
}