@media (max-width: 768px){
    header nav ul{
        flex-direction: column;
    }
    /* Index */
    .sectionPrincipal{
        justify-content: space-between;
        
    }
    .sectionPrincipal form{
        flex-direction: column;
        height: 50%;
        
    }

/* Inmuebles */
    .grids {
        display: grid;
        width: 100%;
        height: 3000px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(7, 25rem);
    }

    .section1{
        background-color: rgb(246, 166, 38);
        font-family: Arial, Helvetica, sans-serif;
        color: antiquewhite;
        grid-row: 1/2;
        grid-column: 1/3; 

    }

    .section1 form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

/* Emprendimientos */

    .emp{
        flex-direction: column;
        padding: 1.875rem;
        text-align: center;
        width: 100%;
    }
    .emp div{
        width: 100%;
    }



    .invertir{
        background-color: rgb(246, 166, 38);
        background-image: none;
    }    
    .lista{
        text-align: center;
        width: 100%;
    
    }

    /* Nosotros */
    .nos2{
        flex-direction: column;
        width: 100%;
    }
    .nos2 img{
        width: 100%;
        padding: 0;
        padding-top: 1.25rem;
    }


}   