footer{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    flex-wrap: wrap;
    section{
        padding: 50px;
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        div{
            display: flex;
            img{
                height: map-get($tamaños, xl );
                margin-right: 5px;
            }
        }
    }

}