header{
    background-color: black;
    @include flex(row, space-between, none);
    .imgLogo{
        display: flex;
        align-items: center;
        h2{
            color: antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
        }
        img{
            height: 5rem;
        }
    }
    nav {
        ul{
            display: flex;
            padding: 10px;
            li{
                list-style: none;
                &:hover{
                    transform: scale(1.1);
                }
                a{
                    color: antiquewhite;
                    padding: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    font-size: 15px;
                    transition: color 1s;
                    &:hover{
                        color: $bg-color-sec;
                    }
                }
            }
        }
    }
}

