.grids {
    @include grid(1fr 1fr 1fr, 11.875rem 400px 400px 400px, 1.875rem, 1.875rem );
    width: 100%;
    height: 1500px;
    background-color: $bg-principal;
    img{
        width: 100%;
        height: 18.75rem;
        &:hover{
            transform: scale(1.04)
        }
    }
    h3{
        color: $bg-color-sec;
        transition: text-decoration 3s;
        &:hover{
            text-decoration:underline;
        }
    }
}

.section1{
    background-color: $bg-color-sec;
    font-family: Arial, Helvetica, sans-serif;
    color: $color-principal;
    grid-row: 1/2;
    grid-column: 1/4;
    h2{
        color: $color-principal;
        margin-left: 50px;
        margin-top: 10px;
        height: 1.875rem;
    }
    form{
        display: flex;
        justify-content: space-evenly;
        height: 9.375rem;
        width: 100%;
        input{
            padding: 10px;
            margin: 50px;
            border: 3px solid $color-principal;
            width: 28%;
            background-color: transparent;
            color: rgb(97, 95, 93); 
        }
        button{
            padding: 10px;
            margin: 50px;
            border: 3px solid rgb(0, 0, 0);
            width: 16%;
            border-radius: 50px;
            background-color: transparent;
            &:hover{
                background-color: $bg-principal;
                color: $bg-color-sec;
            }
        }
        select{
            @extend button;
            border:3px solid $color-principal;
            width: 28%;
            color: rgb(97, 95, 93);
            border-radius: 0px;
            }
        }

    }

    .section2{
        text-align: center;
        color: antiquewhite;
    }
    
    .section3{
        @extend .section2;
    }
    
    .section4{
        @extend .section2;
    }
    
    .section5{
        @extend .section2;
    }
    
    .section6{
        @extend .section2;
    }
    
    .section7{
        @extend .section2;
    }
    
    .section8{
        @extend .section2;
    }
    
    .section9{
        @extend .section2;
    }
    
    .section10{
        @extend .section2;
    }